/*First page*/


/*First page*/


/*First page*/


/*logo*/

IMG.img-responsive {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}


/*top-nav*/
.navbar-toggler {
  width: 100%;
  float: none;
  margin-right: 0;
}


/*top-nav aesthetic*/

.line {
	height: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
}


/*Font*/

body {
	font-family: "Times New Roman", Times, serif;
}


/*mast head*/

.container {
	margin-top: 50px;
}

h3 a,
p a {
	color: black;
	font-size: 80%;
}

a:hover {
	color: grey;
	text-decoration: none;
}


/*small squares*/

.short-div {
	height: 170px;
	margin: 40px;
	padding: 20px;
}


/*Side info*/

.aside {
	padding: 0px 25px 80px 25px;
	font-size: 90%;
}


/*Weekly Joke*/

.subscribe {
	padding: 20px 0px 0px 0px;
}

.form {
	padding: 0px 0px 20px 0px;
}

.subscribe-submit {
	margin: 20px 0px 0px 0px;
	outline: 0;
	cursor: pointer;
}

#schack {
	padding: 20px;
	background-color: white;
}


/*footer*/

.end-nav {
	font-size: 80%;
}

.contact a {
	color: black;
}


.hovericon: img {
	width: 20%;
	
	}
	
	
.hovericon:hover img {
	opacity: 0.6;
	width: 20%;
}

.nav-link a {
	width: 10%;
	height: auto;
}



/*First page*/


/*First page*/


/*First page*/


/*contact*/

h2 {
	margin-top: 50px;
	margin-bottom: 10px;
}

.form-group {
	margin-top: 0px;
	margin-bottom: 30px;
	margin-right: 0px;
	margin-left: 0px;
}

.button {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
}
